@charset "utf-8";

@font-face {
    font-family: 'Theinhardt'; 
    src: url('../font/theinhardt-light-webfont.woff') format('woff');
}


body {
    font-size: 62.5%;
    font-family: 'Theinhardt', 'Noto Sans KR', sans-serif;
}
#wrap {
    width: 100%;
    height: 100%;
}